<h1>New Event</h1>

<%= form_with(model: @event, local: true) do |form| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :event_artist %>
    </div>

    <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description %>
    </div>

    <div class="field">
    <%= form.label :event_date %>
    <%= form.date_field :event_date, id: :event_event_date%>

    <div class="field">
    <%= form.label :price_low %>
    <%= form.number_field :price_low, id: :event_price_low %>
    </div>

    <div class="field">
    <%= form.label :price_high %>
    <%= form.number_field :price_high, id: :event_price_high %>
    </div>

    <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', events_path, class: 'btn btn-success' %>
